.todo-search {
  width: 320px;
  height: 60px;
  border-radius: 0.6rem;
  border: 2px solid transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-tertiary);
  margin-top: 2rem;
  flex-shrink: 0;

  transition: all 250ms ease-out;

  & > .todo-search-icon {
    position: absolute;
    left: 1rem;

    width: 20px;
    height: 20px;
    color: var(--color-primary);
  }

  & > input {
    height: 100%;
    width: 100%;
    outline: 0;
    font-size: 2rem;
    color: var(--color-primary);
    padding-left: 4rem;
    border: 0;
    outline: 0;
    background-color: transparent;
    transition: all 250ms ease-in;


    &::placeholder {
      color: #999;
      letter-spacing: 2px;
      font-weight: 300;
      transition: all 250ms ease;
    }
  }

  &:focus,
  &:hover { 
    border: 2px solid var(--color-primary);

    & > input {
       &::placeholder {
        color: var(--color-primary);
       }
    }
  }
}