.todo-create-icon {
  width: 28px;
  height: 28px;
  color: var(--color-primary);
  transition: all 450ms ease-in-out;
}

.todo-create-button {
  margin-bottom: 2rem;
  display: flex;
  width: 320px;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  border: 0;
  outline: 0;
  border-radius: 0.6rem;
  background-color: var(--color-tertiary);
  transition: all 250ms ease-out;
  flex-shrink: 0;

  & > h2 {
    margin-left: 12px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #333;
  }

  & > .todo-create-icon {
    margin-right: 12px;
  }

  &:hover {
    background-color: var(--color-primary);

    & > .todo-create-icon {
      color: #fff;
      rotate: 270deg;
    }
  }

  @media screen and (max-width: 690px) {
    margin-bottom: 3rem;
  }

  @media screen and (max-width: 420px) {
    & {
      width: 95vw;
    }
  }
}

.todo-create-modal {
  position: absolute;
  width: 320px;
  height: 120px;
  background-color: var(--color-tertiary-darker);
  bottom: 0;
  border-radius: 0.6rem 0.6rem 0 0;
  transform: translateY(100%);
  transition: all 350ms ease-out;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &.active {
    transform: translateY(0);
    transition: all 350ms ease-out;
  }

  & > .icon-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    transform: rotate(45deg);
    cursor: pointer;

    &:hover {
      color: #fff;
      transform: rotate(315deg);
    }
  }

  & > input {
    border: 2px solid transparent;
    outline: 0;
    background-color: var(--color-tertiary);
    padding: 0.8rem;
    margin-top: 2rem;
    font-size: 1.8rem;

    border-radius: 0.6rem;

    transition: all 350ms ease;

    &::placeholder {
      color: #999;
      letter-spacing: 2px;

    }
    @media screen and (prefers-color-scheme: light) {
      & {
        color: #333;
      }

      &::placeholder {

        color: #333;
      }
    }

    &:focus,
    &:hover {
      border-color: var(--color-secondary);
    }
  }

  & > .icon-check {
    margin-top: 2rem;

    color: var(--color-secondary-darker);
    cursor: pointer;
    &:hover {
      color: var(--color-secondary);
      scale: 1.05;
    }
  }

  @media screen and (max-width: 420px) {
    & {
      width: 100vw;
    }
  }
}
