.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--color-secondary);
  color: var(--text-primary);
  flex-grow: 1;
  max-height: 45px;
  border-radius: 0.5rem;
  width: calc(100% - 2rem);

  .itemName {
    font-size: 2.2rem;
    font-weight: bold;
    margin-right: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 2px;
  }
}

.itemButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  

  .icon {
    font-size: 1.8rem;
    color: var(--color-primary);
    cursor: pointer;
  }
}
