@keyframes moveLeft {
  0% {
    transform: translateX(130%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(130%);
  }
}

.setting-item {
  animation: moveRight 450ms ease-out forwards;
  width: 180px;
  height: 45px;
  background-color: var(--color-tertiary);
  flex-shrink: 0;
  border-radius: 0.6rem;

  &.is-active {
    animation: moveLeft 450ms ease-out forwards;
  }
}