.createTaskButton {
  position: fixed;
  bottom: 0;
  margin-bottom: 3rem;
  background-color: var(--color-secondary-darker);
  height: 40px;
  width: 90%;
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: space-between;
  border: 0;
  outline: 0;

  p {
    font-size: 2.2rem;
    margin-left: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--text-secondary);
  }

  .plusIcon {
    font-size: 2.5rem;
    color: var(--color-primary);
    margin-right: 1rem;
  }
}

.taskModal {
  position: fixed;
  transform: translateY(200px);
}
