:root {
  font-family: 'Nunito', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  scroll-behavior: smooth;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: #090909;

  --color-primary-lighter: #db4241;
  --color-primary: #d21312;
  --color-primary-darker: #a80f0e;
  --color-secondary: #f15a59;
  --color-secondary-darker: #c14847;
  --color-tertiary-lighter: #717397;
  --color-tertiary: #61638b;
  --color-tertiary-darker: #4e4f6f;

  --card-color: #161945;
  --card-color-lighter: #24286d;

  --check-color: #57d657;
  --delete-color: #c53838;

  --text-primary: #fff;
  --text-secondary: #b8b8b8;

  --text-item: #b7ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  background-color: var(--bg-color);
}

#root {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

/* TODO: Create colors for the light theme */
