:root {
  font-family: 'Nunito', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  scroll-behavior: smooth;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: #000a17;

  --color-primary: #ff204e;
  --color-primary-darker: #cc1a3e;
  --color-secondary: #a0153e;
  --color-secondary-darker: #801132;
  --color-tertiary: #5d0e41;
  --color-tertiary-darker: #4a0b34;
  --color-error: #ff3232;

  --text-primary: #fff;
  --text-secondary: #d8d8d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  background-color: var(--bg-color);
}

#root {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #e0dfd7;
    --color-primary: #3992a8;
    --color-primary-darker: #277a8f;
    --color-secondary: #c6a632;
    --color-secondary-darker: #8b7423;
    --color-tertiary: #acacde;
    --color-tertiary-darker: #8a8ab2;
    color: #333;
  }
}
